body {
  background-color: rgb(130, 82, 207);
}
.App {
  background-color: #423366;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}
#to-do-form input {
  background-color: rgb(17, 138, 175);
  border: 0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  border-radius: 10px;
  color: white;
}
#to-do-form::placeholder {
  color: white;
  font-weight: bolder;
}
#to-do-form button {
  height: 50px;
  width: 80px;
  border-radius: 10px;
  background-color: rgb(28, 169, 212);
  cursor: pointer;
  font-weight: bolder;
  color: white;
  opacity: 0.8;
}
